
<link rel="stylesheet" href="accueil.css">


	
<form  action="/inscription" method="post"accept-charset="utf-8">
<div id="imgform">
	<div id="imgtext">

		<img id="img" src="90fdccca9b9493353eccd63b85e28486.jpg" alt="">

		<h1 id="Group">GroupJeuneVLG c'est Nous !</h1>

	</div>
	<div id="form">
		
		<h2>Inscrit toi vite ! Pour découvrir<br>toute l'actualité  de notre équipe ! </h2>
		<p>C’est gratuit (et ça le restera toujours)</p>
		<input id="famille" type="text" name="nom" value="" placeholder="Nom de Famille">
		<input id="prenom" type="text" name="prenom" value="" placeholder="Prenom">
		<br><input id="adresse" type="text" name="adresse" value="" placeholder="Votre adresse eletronique"></br>
		<input id="confirmez" type="text" name="" value="" placeholder="Confirmez votre adresse">
		<br><input id="nouveau" type="text" name="age" value="" placeholder="Votre age "></br>
		<p>
			Date de naissance
		</p>
</form>
		<select>
  			<option value="1">Jour</option>
  			<option value="2">1</option>
  			<option value="">2</option>
  			<option value="">3</option>
  			<option value="">4</option>
  			<option value="">5</option>
  			<option value="">6</option>
  			<option value="">7</option>
  			<option value="">8</option>
  			<option value="">9</option>
  			<option value="">10</option>
  			<option value="">11</option>
  			<option value="">12</option>
  			<option value="">13</option>
  			<option value="">14</option>
  			<option value="">15</option>
  			<option value="">16</option>
  			<option value="">17</option>
  			<option value="">18</option>
  			<option value="">19</option>
  			<option value="">20</option>
  			<option value="">21</option>
  			<option value="">22</option>
  			<option value="">23</option>
  			<option value="">24</option>
  			<option value="">25</option>
  			<option value="">26</option>
  			<option value="">27</option>
  			<option value="">28</option>
  			<option value="">29</option>
  			<option value="">30</option>
  			<option value="">31</option>
		</select>
		<select>
			<option value="">Mois</option>
			<option value="">Janvier</option>
			<option value="">Fevrier</option>
			<option value="">Mars</option>
			<option value="">Avril</option>
			<option value="">Mai</option>
			<option value="">Juin</option>
			<option value="">Juillet</option>
			<option value="">Aout</option>
			<option value="">Septembre</option>
			<option value="">Octobre</option>
			<option value="">Novembre</option>
			<option value="">Decembre</option>
		</select>
		<select>
			<option value=""> Année</option>
			<option value="">1994</option>
			<option value="">1993</option>
			<option value="">1992</option>
			<option value="">1991</option>
			<option value="">1990</option>
			<option value="">1989</option>
			<option value="">1988</option>
			<option value="">1987</option>
			<option value="">1986</option>
			<option value="">1986</option>
			<option value="">1985</option>
			<option value="">1984</option>
			
		</select>
		<div id="Pourquoi">
			
			<p>Pourquoi dois-je indiquer ma date de naissance ?</p>
		</div>		
	<input id="radio1" type="radio" name="radio"/>Femme
	<input id="radio2" type="radio" name="radio"/>Homme
	<div id="para">
		<p>
			En cliquant sur Inscription, vous acceptez nos Conditions et <br>indiquez que vous avez lu notre Politique d’utilisation des</br> données, y compris notre Utilisation des cookies.
		</p>
	</div>

<a href="#modal-text" class="call-modal" title="Clicking this link shows the modal"><button type="submit" class="button">Inscription</button>

		<!-- A modal with its content -->
		<section class="semantic-content" id="modal-text"
				tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">

			<div class="modal-inner">
				<header>
					<h2 id="modal-label">Félicitation ! Vous avez été bien enregistré !</h2>
				</header>

				<div class="modal-content">
					<h4>Un petit avant goût de notre équipe en video !</h4>
					<video src="http://www.youtube.com/watch?v=NcCo3bIUmkU" autobuffer autoloop loop controls poster="/images/video.png"></video>
					
					 
				</div>

				<footer>
					
				</footer>
			</div>

			<!-- Use Hash-Bang to maintain scroll position when closing modal -->
			<a href="/inscription " class="modal-close" title="Close this modal"
					data-dismiss="modal">&times;</a>
		</section>

		<script src="js/modal.js"></script><!-- JS for Modal -->
		
	
</form>
</body>